* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

.container  {
    height: 100%;
    width: 100%;
    background-color: #414141;
    display: grid;
    gap: 1rem;
    padding: 4rem;
    border: 5px solid black;
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(4, 150px);
    justify-self: end;
}

.item {
    height: 100px;
    width: 100px;
    background-color: rgb(159, 208, 208);
    border: 5px solid wheat;
}